.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--logo {
    width: 700px;
    height: auto;
    margin-bottom: 50px;
    margin-top: -60px;
  }
  &--form {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 40px;
  }
  &--form__input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: solid 4px rgb(107, 236, 107);
    margin-bottom: 40px;
    align-self: center;
    margin-top: 10px;
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  .itemList {
    justify-self: center;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    .title {
      font-size: 25px;
      padding-bottom: 10px;
      padding-top: 7px;
      color: black;
    }
    .espices {
      color: black;
      padding-bottom: 10px;
    }
    .text-container {
      width: 300px;
      padding-top: 15px;
      background-color: #a2aeb1;
      border-radius: 8px;
      margin-top: -15px;
      height: 120px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    }
    .img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 300px;
      height: auto;
    }
    .link {
      text-decoration: none;
    }
  }
}

.detailCard {
  width: 500px;
  position: absolute;
  left: 30%;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--back {
    border-radius: 20px;
    border: solid 3px rgb(107, 236, 107);
    color: black;
    width: 75px;
    height: 45px;
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    &__text {
      align-self: center;
      padding-left: 9px;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    }
  }
  &--img {
    border-radius: 8px;
  }
  &--textContainer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    background-color: #a2aeb1;
    width: 300px;
    margin-top: -5px;
    padding-top: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    &__espices {
      margin-bottom: 8px;
    }
    &__origen {
      margin-bottom: 8px;
    }
    &__status {
      margin-bottom: 8px;
    }
    &__episodes {
      margin-bottom: 8px;
    }
  }
}
.icon-specie {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 80px;
}
.icon-dead {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 33px;
}
.alive {
  color: rgb(45, 156, 45);
  font-weight: 700;
}

.error-message {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
  text-align: center;
}
.error {
  font-weight: bolder;
}

@media all and (max-width: 320px) {
}
