.header {
  color: rgb(107, 236, 107);
  display: flex;
  flex-direction: column;
  align-items: center;
  &--logo {
    width: 700px;
    height: auto;
    margin-bottom: 50px;
    margin-top: -60px;
  }
  &--form {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 40px;
  }
  &--form__input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: solid 4px rgb(107, 236, 107);
    margin-bottom: 40px;
    align-self: center;
    margin-top: 10px;
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  .itemList {
    justify-self: center;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    border: solid rgb(107, 236, 107) 8px;
    border-radius: 10px;
    .title {
      font-size: 25px;
      padding-bottom: 10px;
      padding-top: 7px;
      color: white;
    }
    .espices {
      color: rgb(107, 236, 107);
      padding-bottom: 10px;
    }
    .text-container {
      padding-top: 15px;
      background-color: rgb(25, 54, 71);
      margin-top: -15px;
      margin-bottom: -1px;
      height: 120px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    }
    .imgCard {
      height: auto;
    }
    .link {
      text-decoration: none;
    }
  }
}
.detail {
  height: 100vh;
  width: 90vw;
  &--img-container {
    margin: 50px;
    width: 200px;
  }
  &--image {
    width: 100%;
  }
}
.detailCard {
  width: 500px;
  position: absolute;
  left: 30%;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--back {
    border-radius: 10px;
    border: solid 3px rgb(107, 236, 107);
    color: rgb(107, 236, 107);
    width: 75px;
    height: 45px;
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    &__text {
      align-self: center;
      padding-left: 9px;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    }
  }
  &--img {
    border: rgb(107, 236, 107) solid 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &--textContainer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    background-color: rgb(25, 54, 71);
    width: 300px;
    margin-top: -8px;
    padding-top: 15px;
    padding-left: 5px;
    width: 317px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid 8px rgb(107, 236, 107);
    color: white;
    border-top: none;
    text-align: center;
    &__espices {
      margin-bottom: 8px;
    }
    &__origen {
      margin-bottom: 8px;
    }
    &__status {
      margin-bottom: 8px;
    }
    &__episodes {
      margin-bottom: 8px;
    }
  }
}
.icon-specie {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 90px;
}
.icon-dead {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 40px;
}
.alive {
  color: rgb(107, 236, 107);
  font-weight: 700;
}

.error-message {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
  text-align: center;
}
.error {
  font-weight: bolder;
}

@media all and (max-width: 320px) {
  .body {
    margin: 5px;
  }
  .header {
    flex-direction: column;
    &--logo {
      width: 200px;
      height: auto;
      margin-bottom: 50px;
      margin-top: -10px;
    }
    &--form {
      font-size: 20px;
    }
  }
  .list {
    grid-template-columns: 300px;
    margin-right: 10px;
  }
  .imgCard {
    width: 200px;
  }
  .detailCard {
    position: relative;
    left: -118px;
  }
}
