* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-image: url(https://cdnmundo1.img.sputniknews.com/img/107694/50/1076945085_0:0:1920:1036_1000x541_80_0_0_c5fa004b3db38cdc8734fa6b8a49fd31.jpg);
  /* background-repeat: no-repeat; */
  background-size: contain;
}
